In [4]:
import pandas as pd
import numpy as np

## struktura danych <font color='red'> Series <font>

obiekt 1D podobny do tablicy/listy, zawartość dowolna, indeksy od 0

### tworzenie

In [2]:
#bezpośrednio
#s = pd.Series(...)

#ze słownika
#slownik = {...}
#s = pd.Series(slownik)

#albo:
#s = pd.Series(slownik, index=[...])

#z pojedynczej wartości
#s = pd.Series(...)

### odwołania

In [6]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'i', 'e'])

#dla powyższego wypisać:
#wszystkie wartości > 0.5

#wartości powyżej średniej globalnej

#warstwę od indeksu 'b' do 'i'

#podstawić:
#dla elementu pod indeksem 'b' wartość 17

#dla elementu pod indeksem 0 wartość 10

In [ ]:
s1 = pd.Series([68, 83, 112, 68], index=["a", "b", "c", "d"])
s2 = pd.Series([68, 83, 112, 68], index=["a", "b", "f", "d"])

#wyjaśnić wynik działania:
s1 + s2

### braki

In [15]:
#wypełnić braki liczbą 200
cities = pd.Series({'Chicago': 1000, 'New York': np.NaN, 'Portland': 900,
                 'San Francisco': 1100, 'Austin': 450, 'Boston': None})

### wizualizacja

In [ ]:
#narysować przebieg pomiarów:
import matplotlib.pyplot as plt
pomiary = pd.Series([4,5.5,6,6.2,6.1,6.1,5.5,5.1,4.7,4,3.8,3.5], name="Pomiary")
#...

## struktura danych <font color='red'> DataFrame <font>

### tworzenie

In [20]:
#utworzyć dowolny obiekt DataFrame:
#ze słownika

#ze listy lub słownika list

#z macierzy ndarray

#z innego DataFrame

### info

In [21]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
df = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

In [ ]:
#dla powyższego obiektu df wypisać wszelkie informacje oddawane za pomocą metod klasy DataFrame:

### obniżenie poziomu obiektu DataFrame

In [143]:
#napisać obiekt DataFrame o dwóch poziomach kolumn i/lub wierszy

#obniżyć poziom indeksów

### selekcja danych

In [23]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
df = pd.DataFrame(data)

In [25]:
#wybrać tylko kolumny 'year' i 'wins'

#ustawić indeksowanie na podstawie 'team'

#wybrać rekord pierwszy i czwarty

In [27]:
#warunki i funkcje
#wypisać dane dla wartości 'wins' > 10

#wyliczyć średnie kolumn: 'wins' i 'losses'

#przypisać rekordowi szóstemu w kolumnie 'losses' wartość 0

### dodawanie/usuwanie kolumn

In [ ]:
data = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),
}
df = pd.DataFrame(data)
df

In [30]:
#dodać (na końcu) kolumnę "age" równą 2025 - wartość "birthyear"

#dodać (na końcu) kolumnę "over 30" i umieścić wynik warunku "age" > 30

#co się dzieje, jeśli dodana kolumna ma mniejszą/większą liczbę wierszy?

#usunąć kolumnę "children"

#dodać kolumnę "height" z wartościami [172, 181, 185] po kolumnie "weight"

### obliczanie wyrażeń

(do niektórych pytań konieczna biblioteka numexpr)

In [31]:
#dla każdego rekordu wyliczyć wartość logiczną: "weight / (height/100) ** 2 > 25"

#zrobić kwerendę: "age > 30 and pets == 0"

### sortowanie

In [19]:
#dla dowolnego DataFrame wykonać sortowanie:
#po wierszach malejąco

#po kolumnach rosnąco, z modyfikacją oryginału

#po wartościach danej kolumny, z modyfikacją oryginału

### wizualizacja danych

In [33]:
#załadować dowolny zbiór danych z pliku csv
#na podstawie tych danych: 
#zrobić przykładowy wykres typu "boxplot"

#narysować przykładowy histogram

#narysować funkcję gęstości prawdopodobieńtwa dla dowolnej zmiennej

### działania arytmetyczne/warunkowe na DataFrame

In [ ]:
#zrobić obiekt DF o kolumnach ["Sep", "Oct", "Nov"] dla rekordów ["alice","bob","charles","darwin"]
# z danych:
data = np.array([[8,8,9],[10,9,9],[4, 8, 2], [9, 10, 10]])

In [36]:
#do każdej wartości z powyższych danych dodać 1

#na każdej wartości wyliczyć pierwiatstek

#od każdego rekordu odjąć globalną średnią

#wyliczyć średnie po i) wierszach, ii) po kolumnach

#sprawdzić, czy wszystkie wartości są większe niż 5

### zapis DataFrame do pliku

In [17]:
#zapis do pliku csv (/html/json/xlsx)

#załadowanie pliku csv

### łączenie DataFrames

In [16]:
#utworzyć dwa dowolne (kompatybilne) DataFrame'y:

#wykonać operację INNER JOIN po jednej z kolumn

#wykonać operację RIGHT OUTER JOIN

#wykonać operację LEFT OUTER JOIN

#wykonać operację OUTER JOIN

In [ ]:
#podać przykład działania metody concat() na powyższych DataFrame'ach