In [3]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import mean_squared_error
from feature_engine.imputation import CategoricalImputer

## wartości numeryczne

In [4]:
# Wczytanie danych
df_complete = pd.read_csv('complete_dataset.csv')
df_missing = pd.read_csv('missing_dataset.csv')

# Sprawdzić statystyki brakujących wartości
#...

In [5]:
# 0a. Usunąć wszystkie rekordy z wartościami brakującymi w wybranej kolumnie
#...
df_removed_col = df_missing.dropna(subset=['feature_3'])
df_removed_col

     feature_1  feature_2  feature_3  feature_4  feature_5
1     0.691449   0.646816   0.164577   0.392007   1.012542
2          NaN   1.388038   1.212949   0.837946   0.576746
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
5          NaN   1.672800  -0.080481   0.728043   0.471293
6    -0.391875  -1.444735  -0.270420  -0.681727  -0.348753
..         ...        ...        ...        ...        ...
993  -0.616750        NaN   0.291475   0.476238        NaN
995   1.100689        NaN   1.448631   1.244841   1.227331
997  -0.666060        NaN  -0.513832  -0.212818   0.147743
998        NaN        NaN   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[822 rows x 5 columns]

In [6]:
# 0b. Usunąć wszystkie rekordy z wartościami brakującymi
#...
df_removed = df_missing.dropna()
df_removed

     feature_1  feature_2  feature_3  feature_4  feature_5
1     0.691449   0.646816   0.164577   0.392007   1.012542
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
6    -0.391875  -1.444735  -0.270420  -0.681727  -0.348753
8    -1.690844  -0.989452  -1.976451  -0.972371  -0.086711
10   -4.851670  -2.986189  -4.416314  -2.716960  -2.124814
..         ...        ...        ...        ...        ...
979   0.782631   1.556195   0.917569   0.761341   0.421149
980  -2.427032  -3.177153  -2.169202  -1.937543  -1.450298
982  -0.358513   1.004437   0.486565   0.429166   0.096618
990   1.497549  -0.716221   0.875329   0.118137   0.682218
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[311 rows x 5 columns]

In [7]:
# 1. Imputacja wartością stałą
# ...
df_zero = df_missing.fillna(0)
df_zero

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235   0.000000   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2     0.000000   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586   0.000000  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689   0.000000   1.448631   1.244841   1.227331
996   0.816314  -0.329111   0.000000   0.000000  -0.414917
997  -0.666060   0.000000  -0.513832  -0.212818   0.147743
998   0.000000   0.000000   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [8]:
# 2. Imputacja wartością średnią każdej kolumny
# ...

df_mean = df_missing.fillna(df_missing.mean())
df_mean

# df_mean2 = SimpleImputer(strategy='mean').fit_transform(df_missing)
# df_mean2

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235  -0.016299   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2     0.004912   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586  -0.016299  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689   0.001136   1.448631   1.244841   1.227331
996   0.816314  -0.329111  -0.016299  -0.004174  -0.414917
997  -0.666060   0.001136  -0.513832  -0.212818   0.147743
998   0.004912   0.001136   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [9]:
# 3. Imputacja medianą każdej kolumny
#...
df_median = df_missing.fillna(df_missing.median())
df_median

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235  -0.034293   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2    -0.036278   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586  -0.034293  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689   0.019609   1.448631   1.244841   1.227331
996   0.816314  -0.329111  -0.034293   0.002158  -0.414917
997  -0.666060   0.019609  -0.513832  -0.212818   0.147743
998  -0.036278   0.019609   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [11]:
# 4. Imputacja wartością najczęstszą każdej kolumny
#...
# median_imputer = SimpleImputer(strategy='median')
# df_median = pd.DataFrame(median_imputer.fit_transform(df_missing), columns=df_missing.columns)
df_most_frequent = df_missing.fillna(df_missing.mode())
df_most_frequent

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235  -4.416314   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2    -3.927587   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586  -3.490877  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689        NaN   1.448631   1.244841   1.227331
996   0.816314  -0.329111        NaN        NaN  -0.414917
997  -0.666060        NaN  -0.513832  -0.212818   0.147743
998        NaN        NaN   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [12]:
# 5. Imputacja przy użyciu K najbliższych sąsiadów (KNN)
#...
knn_imputer = KNNImputer(n_neighbors=2)
df_knn = pd.DataFrame(knn_imputer.fit_transform(df_missing), columns=df_missing.columns)
df_knn

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235   0.987145   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2     1.086886   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586  -0.210558  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689   1.113941   1.448631   1.244841   1.227331
996   0.816314  -0.329111   1.271360   0.304912  -0.414917
997  -0.666060  -0.671746  -0.513832  -0.212818   0.147743
998  -0.844822   0.506301   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [16]:
# 6. Imputacja za pomocą klasy IterativeImputer
#...
iter_imputer = IterativeImputer(random_state=0, max_iter=100, verbose=1)
df_II = pd.DataFrame(iter_imputer.fit_transform(df_missing), columns=df_missing.columns)
df_II

[IterativeImputer] Completing matrix with shape (1000, 5)
[IterativeImputer] Change: 7.704474135414618, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 1.4438069701608998, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.49812703070961745, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.3342587458166609, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.26747647097436533, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.2157417355439195, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.17037962001717655, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.13234953246622205, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.10147363249684616, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.08090824819253878, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.07368187377296209, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.06705770276869405, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.060996517297920716, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.055458624359498276, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.05040487388671966, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.045874567330575156, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.04203709602947625, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.03852026728441804, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.036110738285077396, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.03501333782850355, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.03395339444395076, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.03292908238041159, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.031938749873309163, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.03098088953941222, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.030054115489556, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.029157145364808956, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02828878606417065, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02744792228213927, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.026633507207688478, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.025844554899008165, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02508013396657871, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.024339362284926724, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02362140251877659, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.022925458299271895, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.022250770923670726, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02159661648031852, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.020962303322760556, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.02034716983326157, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.019750582428743668, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.01917193377177351, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.018610641156720897, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.01806614504678533, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.01753790774205255, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.017025412162425424, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.01652816073151231, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.016045674350144812, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.015577491449689784, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.015123167116749825, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.014682272282004305, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.014254392966889629, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.013839129582543075, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.013436096276158382, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.013044920320393838, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.012665241542118455, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.012296711786882464, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.011938994416188231, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.011591763834853774, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.01125470504581716, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.010927513230352015, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.010609893351562816, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.010301559779506975, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.010002235936033388, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.00971165395814988, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.00942955437838, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.009155685820954607, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.008889804712694849, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.008631675007637618, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.008381067924380425, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.008137761695363732, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.007901541327314243, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.007672198372138617, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.007449530707597463, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.007233342327183312, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.007023443138696184, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.006819648770905018, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.006621780387963905, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.006429664511066635, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.006243132846996291, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.006062022123113242, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.005886173928644212, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.005715434561679111, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.005549654881843558, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.005388690168246391, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.00523239998240832, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.005080648036089319, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.00493330206364917, scaled tolerance: 0.004851670146363769
[IterativeImputer] Change: 0.004790233698814705, scaled tolerance: 0.004851670146363769
[IterativeImputer] Early stopping criterion reached.

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.545127  -0.458235   0.469801   0.354097   1.211309
1     0.691449   0.646816   0.164577   0.392007   1.012542
2     1.174748   1.388038   1.212949   0.837946   0.576746
3    -1.102497  -0.097586  -1.977418  -0.300175   1.044006
4    -0.048184  -0.451944   0.154713  -0.069736  -1.113442
..         ...        ...        ...        ...        ...
995   1.100689   2.697806   1.448631   1.244841   1.227331
996   0.816314  -0.329111   1.018494   0.119375  -0.414917
997  -0.666060   0.109893  -0.513832  -0.212818   0.147743
998   0.033974  -0.320492   0.077385  -0.148234   0.003740
999  -0.423095   0.897032  -1.401322   0.107855   0.147847

[1000 rows x 5 columns]

In [ ]:
# 7. Obliczyć błąd średniokwadratowy (MSE) między prawdziwymi a imputowanymi wartościami
#...

## wartości kategorialne

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# dane z brakami
X = pd.DataFrame([['M', 2.15, 5.45],
                 ['F', 2.27, 3.53],
                 ['F', 1.01, -0.56],
                 ['M', -0.53, 0.39],
                 ['M', 3.65, 5.21],
                 [np.nan, 1.68, 5.23],
                 [np.nan, -0.35, 2.56]])

In [ ]:
# 8. Sprawdzić statystyki brakujących wartości

X.isnull().sum()

In [ ]:
# 9. Imputacja za pomocą klasy SimpleImputer
#...
# X_imputed1 = 
simp_imp = SimpleImputer(strategy='most_frequent')
X_imputed1 = pd.DataFrame(simp_imp.fit_transform(X), columns=X.columns)
X_imputed1

In [ ]:
# 10. Imputacja za pomocą klasy KNNImputer
#...
# X_imputed2 = 
knn_imp2 = KNNImputer(n_neighbors=7)
X_imputed2 = pd.DataFrame(knn_imp2.fit_transform(X), columns=X.columns)
X_imputed2

In [ ]:
from feature_engine.imputation import CategoricalImputer

# 11. Imputacja za pomocą klasy CategoricalImputer
#...
# X_imputed3 = 
cat_imp = CategoricalImputer(imputation_method='frequent')
X_imputed3 = cat_imp.fit_transform(X)
X_imputed3