In [4]:
import pandas as pd
import numpy as np

In [8]:
#dany jest słownik
data = {"Name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
        "Age": [25, 30, 35, 40, 28],
        "Salary": [50000, 60000, 75000, 90000, 58000],
        "Department": ["HR", "IT", "IT", "Finance", "HR"]}

#utworzyć obiekt DataFrame
df =

In [ ]:
#zrobić inspekcję df
#wypisać kilka pierwszych lub ostatnich rekordów

#podać kształt

#wyliczyć podstawowe statystyki

#wypisać informację o danych

In [ ]:
#wypisać następujące wiersze lub kolumny:
#kolumnę "Name"

#kolumny "Age" i "Salary"

#wiersz drugi według etykiety i według indeksu

In [ ]:
#filtrowanie rekordów
#wypisać dane przy warunku: "Department" == "IT"

#wypisać pracowników zarabiających więcej niż 60.000

In [ ]:
#tworzenie nowych kolumn
#zrobić kolumnę "Tax" równą 20% wartości "Salary"

#zrobić kolumnę "Net Salary" równą różnicy "Salary" i "Tax"

In [ ]:
#grupowanie
#wyliczyć średnie pensje w działach

#zwizualizować średnie pensje w działach

In [ ]:
#sortowanie
#dane posortować malejąco po kolumnie "Salary"

In [10]:
#wstawić do rekordu drugiego w koluknie "Age" wartość np.NaN

#sprawdzić, ile jest braków w każdej kolumnie

#wypełnić tak powstały "brak" średnią wieku

In [ ]:
#zapisać df w pliku csv